html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #212529;
  letter-spacing: 0;
  font-size: 1.6em;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

p {
  margin-bottom: 10px;
}

a {
  color: #212529;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header,
main,
footer {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: auto;
}

figure {
  margin: 0;
}

/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

.border-bottom-yellow {
  border-bottom: solid 10px #ebb94d;
}

.bgwhite {
  background: white;
}

.brackets {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 40px 0;
  width: 860px;
}

.brackets:before, .brackets:after {
  position: absolute;
  width: 45px;
  height: 45px;
  content: "";
}

.brackets:before {
  top: 0;
  left: 0;
  border-top: solid 4px #ebb94d;
  border-left: solid 4px #ebb94d;
}

.brackets:after {
  right: 0;
  bottom: 0;
  border-right: solid 4px #ebb94d;
  border-bottom: solid 4px #ebb94d;
}

.color-orange {
  color: #ebb94d;
}

.fw-bold {
  font-weight: bold;
}

.inner {
  max-width: 1022px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.header {
  height: 94px;
  width: 100%;
}

.footer {
  height: 104px;
}
