html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: $fc-pri;
  letter-spacing: 0;
  font-size: 1.6em;
  font-family: $font-family;
  line-height: 1.5;

  // overflow: hidden;

  // min-width: 768px;
  // @include mq() {
  //   min-width: $max-width;
  // }
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

// font size
h2 {
  // font-size: 28px !important;
}

p {
  // font-size: 20px;
  margin-bottom: 10px;
}

a {
  color: $fc-pri;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header,
main,
footer {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: auto;
}

figure {
  margin: 0;
}
