//画像格納ディレクトリ
// $imgDir: "./../../../img";

//PCレイアウト時の最小横幅
$max-width: 1022px;

// font family
$font-family: "Noto Sans JP", sans-serif;

//font color
$fc-pri: #212529;
$fc-sec: #6c757d;
$fc-ter: #007bff;
// background color
$bgc-body: #f8f9fa;
$bgc-header-nav: #343a40;
$bgc-footer: #343a40;

// border color
$border: 1px solid #707070;
