.border-bottom-yellow {
  border-bottom: solid 10px #ebb94d;
}

.bgwhite {
  background: white;
}

.brackets {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 40px 0;
  width: 860px;

  $brackets: solid 4px #ebb94d;

  &:before,
  &:after {
    position: absolute;
    width: 45px;
    height: 45px;
    content: "";
  }

  &:before {
    top: 0;
    left: 0;
    border-top: $brackets;
    border-left: $brackets;
  }

  &:after {
    right: 0;
    bottom: 0;
    border-right: $brackets;
    border-bottom: $brackets;
  }
}

.color-orange {
  color: #ebb94d;
}

.fw-bold {
  font-weight: bold;
}

// クラス一括作成
@mixin classBatchCreation($prefix, $style, $properties) {
  @each $property in $properties {
    .#{$prefix}-#{$property} {
      #{$style}: $property;
    }
  }
}

// background image
@mixin background-image($fileName) {
  background-image: url("#{$imgDir}/#{$fileName}");
  background-position: center;
  background-size: cover;
}

// .box {
//   padding: 40px 0 50px 0;
//   border: solid 2px #ebb94d;
//   border-radius: 5px;
//   background: white;
// }
@mixin ttl($item: "SubTitle", $color: #3ba6c9, $font-size: 1.6rem, $margin-top: 20px) {
  @include mq(sp) {
    // &::after {
    //   display: block;
    //   margin-top: $margin-top !important;
    //   color: $color !important;
    //   content: $item !important;
    //   font-size: $font-size !important;
    // }
  }
  &::after {
    margin-top: 10px !important;
    display: block;
    margin-top: $margin-top !important;
    color: $color !important;
    content: $item !important;
    font-size: $font-size !important;
  }
}

// アスペクト比の固定
@mixin aspect($vertical: null, $horizontal: null) {
  &:before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    padding-top: calc(#{$vertical} / #{$horizontal} * 100%);
  }
}

// 三点リーダー
@mixin tpl($row: 3) {
  & {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $row;
    overflow: hidden;
  }
}
