$mqSp: 48rem;
$tab: 76.8rem;
$mqPc: 119rem;
@mixin FS($maxFs: null, $minFs: null, $maxWidth: $mqPc, $minWidth: $mqSp) {
  //   font-size  = calc(ZZ + ((1vw - XX) * YY))
  // Where   XX = viewport_Width_Minimum / 100
  //         YY = 100 * font_Size_Difference / viewport_Width_Difference
  //         ZZ = Minimum font-size stated in REM

  // https://websemantics.uk/tools/responsive-font-calculator/

  $XX: $minWidth / 100;
  $YY: 100 * ($maxFs - $minFs) / ($maxWidth - $minWidth);
  $ZZ: $minFs;
  $fontSize: calc(#{$ZZ} + ((1vw - #{$XX}) * #{$YY}));

  & {
    font-size: $fontSize;
  }

  @media (min-width: 1190px) {
    & {
      font-size: $maxFs;
    }
  }
  @media (max-width: 480px) {
    & {
      font-size: $minFs;
    }
  }
}
