$height-header-logo: 80px;
$height-header-nav: 56px;

.inner {
  max-width: $max-width;
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.header {
  height: 94px;
  width: 100%;
}

.main {
}

.footer {
  height: 104px;
}
